* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;  
    background-color: #259bc5;
  }
  
  .header {
    background-color: #0275f0;
    width: 100%;
    height: 6rem;
    color: #ffffff; 
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
.content-1 {
  width: 40%;
  height: 100%;
  text-align: center;
}
  .tit-1 {
    text-align: center;
  }


  button {
    padding: 5px;
    margin-right: 1px;
    background-color: rgb(47, 19, 232);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: grey;
  }


.container-logo {
  width: 30%;
  height: 100%;
  }

.img-web {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #1f1650;
  margin: 0.5rem;
  display: flex;
  justify-content: right;
  float: right;
  }

.container-selects {
  width: 94%;
  height: 1.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin: 2rem;
}

.container-selects > input {
  border-radius: 15px;
}

.container-selects  > select {
  border-radius: 15px;
}

.container-travels {
  width: 98%;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 1.8rem;
}

  .card {
    width: 14rem;
    height: 15rem;
    margin: 16px;
    margin-top: 1.5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.card > img {
    width: 100%;
    height: 92%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card > h2 {
    font-size: 3rem;
    color: rgb(17, 80, 238);
}
  
  /* Footer */
  .footer {
    background-color: #1E90FF; /* Azul */
    color: #FFFFFF; /* Blanco */
    text-align: center;  
    width: 100%;
    height: 10%;
    margin-top: 1rem;
  }
  
  /* Enlaces sociales */
  .social > a {
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
    margin: 0 10px;
  }
  
  .bxl-youtube {
    color: red;
  }
  
  i {
    color: orange;
  }
  
  .bxl-whatsapp {
    color: rgb(3, 133, 48);
  }
  
  .bxl-instagram-alt {
    color: rgb(3, 133, 48);
  }
  
  .bxl-linkedin-square {
    color: rgb(3, 133, 48);
  }